body {
  --tw-bg-opacity: 1;
  background-color: rgb(16 19 26 / var(--tw-bg-opacity, 1));
}

.gas-forecast-component {
  border-color: rgb(255 255 255 / 0.05);
  border-width: 1px;
  border-radius: 0.75rem;
  box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1);
  background: rgba(29, 32, 38, 0.7);
  backdrop-filter: blur(16px);
  padding: 30px;
  margin: 30px;
}

.gas-forecast-title>h2 {
  --tw-text-opacity: 1;
  color: rgb(197 197 212 / var(--tw-text-opacity, 1));
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: Manrope;
  line-height: 20px
}

.gas-forecast-title>p {
  --tw-text-opacity: 1;
  color: rgb(189 244 255 / var(--tw-text-opacity, 1));
  font-size: 12px;
  font-family: Inter;
}